<app-header>

</app-header>


<div class="career-all-container">
    <div class="career-container">
        <img src="https://admin-edubex.ipixsolutions.net/storage/cms/banner/BE5TNtfvR7jyPvCCkcyJdDUbWvkfz5SqxzKn8CPO.png" alt="">
        <div class="title">
            <h1>Job Details</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore repudiandae est consequatur amet, doloribus id sequi? Architecto fuga fugit quod.</p>
        </div>

        <div class="info">

            <div class="heading">
                <h1>specialist</h1>
                <p>edubex</p>
            </div>

            <div class="desc">
                <h3>specialist, content</h3>
                <p>pragraph</p>
            </div>

            <div class="ul-elements">
                <h3>Respons</h3>
                <ul>
                    <li></li>
                </ul>
            </div>


        </div>




    </div>
</div>